---
jobs:
  enforce:
    name: Enforce Repository Rulesets
    runs-on: ubuntu-24.04
    steps:
      # Harden the runner (Audit all outbound calls)
      # https://github.com/step-security/harden-runner
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
      # Checkout the repository
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      # Set up Python
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14.0"
      # Execute the enforcement script
      - name: Execute enforcement script
        run: |
          uv run main.py --user MattKobayashi --token {{ secrets.GH_ENFORCE_PAT }}
name: Enforce Repository Rulesets
on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:
permissions:
  contents: read
